body {
    background-image: url('https://example.com/background-image.jpg');
    background-size: cover;
}

/* Jumbotron-Stil */
.jumbotron {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
}

/* Container-Abstand */
.container {
    margin-top: 50px;
}

/* Überschriftenfarbe */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #007bff;
}

/* Hover-Link-Farbe */
.nav-link:hover {
    color: #007bff;
}

p {
    color: #333;
    font-size: 1.1rem;
}

/* Textfarbe für die Überschriften */
h1,
h2 {
    color: #007bff;
}

/* Farben für die Teammitglied-Karten */
.card {
    border-color: #007bff;
}

.card-title {
    color: #007bff;
}

.card-text {
    color: #555;
}